**/*.o
**/*.d
**/kernel.asm
**/kernel.dis
**/kernel.elf
**.dis
debug.sh
ls2k_debug.sh
ls2k_release.sh
build/**
.vscode/
.vscode/*
*.bin
*.dis
copy_kernel_to_ext4.sh
oscomp/*
glibc
testsuits
.gdb_cmd.txt
target/*
sdcard-rv.img
disassembly.txt
riscv-syscalls-testing/*
sdcard.img
test
test.c
kernel-rv
kernel-la
build-loongarch-qemu_2k1000/*
build-riscv-qemu/*
riscv64-linux-gnu/*
riscv64-lp64d--glibc--stable-2022.08-1/*